APP_NAME=CRM_Backend
APP_ENV=development
APP_DEBUG=true

DATABASE_URL=postgresql+psycopg2://postgres:tu_password@localhost:5432/crm_backend

JWT_SECRET_KEY=cambia_esto_por_una_clave_larga_y_segura
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=480

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
FIRST_ADMIN_EMAIL=admin@controlia.cl
FIRST_ADMIN_USERNAME=Administrador
FIRST_ADMIN_PASSWORD=Admin1234